<h2>Por País</h2>
<hr>

<div class="row">

    <div class="col">

        <app-input-pais (onEnter)="conseguirPais($event)"></app-input-pais>
    
    </div>
</div>

<div class="col" *ngIf="paises.length <= 0 && !isError">
    <h2>No has realizado ninguna búsqueda...</h2>
</div>

<div class="alert alert-danger" *ngIf="isError">
    No se encontró nada con el término {{paisABuscar}}
</div>

<div class="row">
    <div class="col">

        <!-- 
        countries es la propiedad del componente tabla 
        paises es la propiedad de pais 
        estoy vinculando la propiedad de un componente con otro componente
        country es un @input es decir, que voy a recibir datos      
     -->
        
       <app-pais-tabla [countries]="paises"></app-pais-tabla>

    </div>
</div>


