
<h2>Búsquedas</h2>
<hr>
<ul class="list-group">
    <li class="list-group-item" routerLink="" routerLinkActive="active">Buscar País</li>
    <li class="list-group-item" routerLink="region" routerLinkActive="active">Por Región</li>
    <li class="list-group-item" routerLink="capital" routerLinkActive="active">Por Capital</li>
</ul>

<!-- 
en routerLink (que espera un string) vinculamos el href al que queremos dirigir la página
routerLink = "/ruta" 👉 absolute path 👉 no depende de la URL en la que nos encontremos
routerLink = "ruta" 👉 relative path 👉 depende de la URL en la que nos encontremos

routerLinkActive nos permite aplicar una clase dinámicamente, dependiendo de si un enlace determinado tiene su ruta activa
-->
